<h5>Welcome</h5>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">System User</a></li>
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-6  mx-auto">
    <ul class="list-group">    
      <li class="list-group-item">Suppliers <span class="badge badge-secondary float-right">4</span></li>
      <li class="list-group-item">Distributors <span class="badge badge-secondary float-right">28</span></li>
      <li class="list-group-item">Raw Materials <span class="badge badge-secondary float-right">4</span></li>
      <li class="list-group-item">Products <span class="badge badge-secondary float-right">5</span></li>
      <li class="list-group-item">Payments <span class="badge badge-secondary float-right">16</span></li>
    </ul>
  </div>
</div>
